<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.peng.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="deleted" property="deleted" />
        <result column="perms" property="perms" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, deleted, perms
    </sql>
    <!--通过角色与权限的关联表的用户编号获取到用户权限集合-->
    <select id="findPermissions" resultType="java.lang.String">
        select user.perms from user where user.id=#{id} and deleted=0
    </select>

    <update id="forgetPass">
        update user set password=#{password} where username=#{username}
    </update>
</mapper>
